<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="ConsoleApplication11.Properties.Settings.Tree_CollectionConnectionString"
            connectionString="Data Source=MATTEO\SQLEXPRESS;Initial Catalog=Tree_Collection;User ID=sa;Password=planner"
            providerName="System.Data.SqlClient" />
        <add name="ConsoleApplication11.Properties.Settings.Tree_CollectionConnectionString1"
            connectionString="Data Source=DESKTOP-ME6S75K\SQLEXPRESS;Initial Catalog=Tree_Collection;User ID=sa;Password=planner"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
    </startup>
</configuration>